page-support-coping-strategies {

  .title {
    text-align: right;
    position: relative;
    //height: 95px; //causes problems
    vertical-align: bottom;
  }

    .scroll-content {
      overflow-y: hidden;
    }

    .manipBtn{
      text-transform: none; //ion-buttons without caps
      margin-top: -3%;
    }

}
