page-goals-management {

  ion-navbar.toolbar {
    //min-height: 56px !important;
    max-height: 56px !important;
}

  .title {
    text-align: right;
    position: relative;
    height: 95px;
    vertical-align: bottom;
  }

  .popoverBtn{
    right: 20%;
}

  .segmentLb{
    text-transform: none;
    font-size: 18px;
    margin-top: 2%;
  }

  ion-content{
    height: 100%; //works as wrapper
    max-height: 100% !important; //new
  }

  .scroll-content {
    overflow-y: hidden; //site is not scrollable
  }

  .goalsDiv{
    height: 100% !important;
    //max-height: 100% !important; //no effect
  }

  .openDailyGoalDiv{
    height: 30% !important;
    max-height: 30% !important;
    margin-top: 3%;

    .checkbox-icon{
      border-color:rgb(224, 12, 12) !important;
      //background-color: #fff!important;
    }

    .openDailyGoalsList{
      //height: 20vh; //no percent, because parent can't be 100%
      max-height: 20vh; //68% before
      overflow-y: scroll;
    }

  }

  .dailyGoalDiv{
    height: 45%;
    max-height: 45% !important;
    margin-top: 3%;
  }

  .dailyGoalsList{
    //height: 95%;
    max-height: 95%;
    overflow-y: scroll;
  }

  .openWeeklyGoalDiv{
    height: 30% !important;
    max-height: 30% !important;
    margin-top: 3%;

    .checkbox-icon{
      border-color:rgb(224, 12, 12) !important;
      //background-color: #fff!important;
    }

  }

  .openWeeklyGoalsList{
    //height: 20vh;
    max-height: 20vh; //68% before
    overflow-y: scroll;
  }

  .weeklyGoalDiv{
    height: 45% !important;
    max-height: 45% !important;
    margin-top: 3%;
  }

  .weeklyGoalsList{
    //height: 95%;
    max-height: 95%;
    overflow-y: scroll;
  }


  ion-checkbox .item-cover{ //only checkbox becomes clickable
    display:none;
  }

  .manipBtn{
    text-transform: none; //ion-buttons without caps
    margin-top: 0%;
  }

}
