<ion-header>
  <ion-navbar color=primary hideBackButton="true">
    <ion-title class="title">
      Zielverwaltung
      <!--><title-logo text="Zielverwaltung"></title-logo>-->
    </ion-title>
    <ion-buttons end>
      <button ion-button class="popoverBtn" icon-only clear color="light" medium (click)="presentPopover($event)">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--<ion-tabs tabbarPlacement="top">
    <ion-tab [root]="tab1DailyGoals" tabTitle="Tagesziele"></ion-tab>
    <ion-tab [root]="tab2WeeklyGoals" tabTitle="Wochenziele"></ion-tab>
  </ion-tabs>-->

  <ion-segment value="dailyGoal" [(ngModel)]="goals" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="dailyGoal">
      <ion-label class="segmentLb">Tagesziele</ion-label>
    </ion-segment-button>
    <ion-segment-button value="weeklyGoal">
      <ion-label class="segmentLb">Wochenziele</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="goalsDiv" [ngSwitch]="goals">
    <!--><ion-label style="font-size: 18px" *ngSwitchCase="'dailyGoal'">
      <b>Heute:</b>
    </ion-label>-->

    <!--weekly goals-->

    <div *ngIf="openDailyGoalEntryCollection.length!=0">
      <div class="openDailyGoalDiv" *ngSwitchCase="'dailyGoal'">
        <!--><ion-item no-lines>
        <ion-label><b>noch offen: </b></ion-label>
      </ion-item>-->
        <ion-list can-swipe="true" class="openDailyGoalsList" *ngIf="openDailyGoalEntryCollection.length!=0">
          <ion-item-sliding #slidingItem *ngFor="let gEntry of openDailyGoalEntryCollection.slice(); let i = index">
            <ion-item>
              <ion-label>{{gEntry.entryText}}</ion-label>
              <ion-checkbox [(ngModel)]="gEntry.isAchieved" class="checkBoxOpenGoal" slot="end"
                (click)="setEntryType('dailyGoal', true, gEntry.isRepetitive); setGoalEntryAchieved(gEntry.entryId, i); deleteGoalEntry(gEntry.entryId, i, true); handleRepetitiveGoalEntry(gEntry.entryId, gEntry.entryDate, gEntry.entryText, gEntry.isRepetitive, i); showInstantFeedbackGoalAchieved();">
              </ion-checkbox>
            </ion-item>

            <ion-item-options side="end">
              <button ion-button color="danger" class="manipBtn"
                (click)="setEntryType('dailyGoal'); deleteGoalEntry(gEntry.entryId, i, true)">
                <ion-icon name="trash"></ion-icon>
                Löschen
              </button>

              <button ion-button color="secondary" class="manipBtn"
                (click)="setEntryType('dailyGoal', true); editGoalEntry(gEntry.entryId, gEntry.entryDate, i); closeSlidingItem(slidingItem)">
                <ion-icon name="create"></ion-icon>
                Ändern
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>

    <div class="dailyGoalDiv" *ngSwitchCase="'dailyGoal'">
      <ion-list can-swipe="true" class="dailyGoalsList" *ngIf="isDataAvailable">
        <ion-item-sliding #slidingItem *ngFor="let gEntry of dailyGoalEntryCollection.slice(); let i = index">
          <ion-item>
            <ion-label>{{gEntry.entryText}}</ion-label>
            <ion-checkbox [(ngModel)]="gEntry.isAchieved" slot="end"
              (click)="setEntryType('dailyGoal', false, gEntry.isRepetitive); setGoalEntryAchieved(gEntry.entryId, i); deleteGoalEntry(gEntry.entryId, i, false); handleRepetitiveGoalEntry(gEntry.entryId, gEntry.entryDate, gEntry.entryText, gEntry.isRepetitive, i); showInstantFeedbackGoalAchieved();">
            </ion-checkbox>
          </ion-item>

          <ion-item-options side="end">

            <button ion-button color="danger" class="manipBtn"
              (click)="setEntryType('dailyGoal'); deleteGoalEntry(gEntry.entryId, i)">
              <ion-icon name="trash"></ion-icon>
              Löschen
            </button>

            <button ion-button color="secondary" class="manipBtn"
              (click)="setEntryType('dailyGoal'); editGoalEntry(gEntry.entryId, gEntry.entryDate, i); closeSlidingItem(slidingItem)">
              <ion-icon name="create"></ion-icon>
              Ändern
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <button ion-button icon-only clear class="manipBtn" (click)="setEntryType('dailyGoal'); openModal()">
        <ion-icon name="add"></ion-icon>
        <ion-label style="font-size: 16px">Ziel hinzufügen</ion-label>
      </button>

    </div>

    <!--weekly goals-->

    <div *ngIf="openWeeklyGoalEntryCollection.length!=0">
      <div class="openWeeklyGoalDiv" *ngSwitchCase="'weeklyGoal'">
        <!--><ion-item no-lines>
          <ion-label><b>noch offen: </b></ion-label>
        </ion-item>-->
        <ion-list can-swipe="true" class="openWeeklyGoalsList" *ngIf="openWeeklyGoalEntryCollection.length!=0">
          <ion-item-sliding #slidingItem *ngFor="let gEntry of openWeeklyGoalEntryCollection.slice(); let i = index">
            <ion-item>
              <ion-label>{{gEntry.entryText}}</ion-label>
              <ion-checkbox [(ngModel)]="gEntry.isAchieved" class="checkBoxOpenGoal" slot="end"
                (click)="setEntryType('weeklyGoal'); setGoalEntryAchieved(gEntry.entryId, i); deleteGoalEntry(gEntry.entryId, i, true); showInstantFeedbackGoalAchieved();">
              </ion-checkbox>
            </ion-item>

            <ion-item-options side="end">
              <button ion-button color="danger" class="manipBtn"
                (click)="setEntryType('weeklyGoal'); deleteGoalEntry(gEntry.entryId, i, true)">
                <ion-icon name="trash"></ion-icon>
                Löschen
              </button>

              <button ion-button color="secondary" class="manipBtn"
                (click)="setEntryType('weeklyGoal', true); editGoalEntry(gEntry.entryId, gEntry.entryDate, i); closeSlidingItem(slidingItem)">
                <ion-icon name="create"></ion-icon>
                Ändern
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>

    <div class="weeklyGoalDiv" *ngSwitchCase="'weeklyGoal'">
      <ion-list can-swipe="true" class="weeklyGoalsList">
        <!--><ion-label>
          <b>Heute:</b>
        </ion-label>-->
        <ion-item-sliding #slidingItem *ngFor="let gEntry of weeklyGoalEntryCollection.slice(); let i = index">

          <ion-item>
            <ion-label>{{gEntry.entryText}}</ion-label>
            <ion-checkbox [(ngModel)]="gEntry.isAchieved" slot="end"
              (click)="setEntryType('weeklyGoal'); setGoalEntryAchieved(gEntry.entryId, i); deleteGoalEntry(gEntry.entryId, i); showInstantFeedbackGoalAchieved();">
            </ion-checkbox>
          </ion-item>

          <ion-item-options side="end">

            <button ion-button color="danger" class="manipBtn"
              (click)="setEntryType('weeklyGoal'); deleteGoalEntry(gEntry.entryId, i)">
              <ion-icon name="trash"></ion-icon>
              Löschen
            </button>

            <button ion-button color="secondary" class="manipBtn"
              (click)="setEntryType('weeklyGoal'); editGoalEntry(gEntry.entryId, gEntry.entryDate, i); closeSlidingItem(slidingItem)">
              <ion-icon name="create"></ion-icon>
              Ändern
            </button>

          </ion-item-options>

        </ion-item-sliding>
      </ion-list>
      <button ion-button icon-only clear class="manipBtn" (click)="setEntryType('weeklyGoal'); openModal()">
        <ion-icon name="add"></ion-icon>
        <ion-label style="font-size: 16px">Ziel hinzufügen</ion-label>
      </button>
    </div>

  </div>

</ion-content>
