page-goals-management {

  ion-navbar.toolbar {
    //min-height: 56px !important;
    max-height: 56px !important;
}

  .title {
    text-align: right;
    position: relative;
    height: 95px;
    vertical-align: bottom;
  }

  .segmentLb{
    text-transform: none;
    font-size: 18px;
    margin-top: 2%;
  }

  .manipBtn{
    text-transform: none; //ion-buttons without caps
    margin-top: 2%;
  }

}
