<ion-header>

  <ion-navbar color=primary hideBackButton="false">
    <ion-title class="title">
      Profil
    </ion-title>
    <ion-buttons end>
      <button ion-button class="popoverBtn" icon-only clear color="light" medium (click)="presentPopover($event)">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label stacked>Benutzername:</ion-label>
      <ion-input [(ngModel)]="inputtext" formControlName="usernameValidation" type="text" value="">
      </ion-input>
    </ion-item>
    <p *ngIf="isSubmitted && !formGroup.controls.usernameValidation.valid" class="error-message">
      Bitte einen Benutzernamen eingeben.
    </p>

    <ion-item id="select-popover">
      <ion-label stacked>Ihr Tätigkeitsbereich:</ion-label>

      <ion-select interface="popover" [(ngModel)]="userType" formControlName="occupationValidation">
        <ion-option value="1">Sitzende Tätigkeit</ion-option>
        <ion-option value="2">Handwerkliche Tätigkeit</ion-option>
        <ion-option value="3">Student/-in</ion-option>
        <ion-option value="4">Hausfrau/-mann</ion-option>
        <ion-option value="5">Pflegende oder betreuende Tätigkeit</ion-option>
      </ion-select>
    </ion-item>
    <p *ngIf="isSubmitted && !formGroup.controls.occupationValidation.valid" class="error-message">
      Bitte wählen Sie einen Tätigkeitsbereich.
    </p>

  </form>

  <!--remove later when there's no use-->
  <p class="save-text">

  </p>

</ion-content>

<ion-footer no-shadow>
  <ion-toolbar no shadow position="bottom">
    <button ion-button [color]="primary" [outline]="false" [round]="true" (click)="saveData()">
      Speichern
    </button>
  </ion-toolbar>
</ion-footer>
