<ion-content padding>

  <div class="instantFeedbackDiv">
    <ion-label *ngIf="isCopingStrategyEntry" style="font-size: 25px">
      <b>Danke fürs Durchführen</b>
    </ion-label>

    <ion-label *ngIf="isGoalEntry" style="font-size: 24px">
      <b>Danke für deine Bemühungen</b>
    </ion-label>

    <ion-item no-lines>
      <ion-icon name="thumbs-up"></ion-icon>
    </ion-item>

    <button ion-button id="closeBtn" (click)="closeModal()">
      Weiter
    </button>

  </div>

</ion-content>
