page-documentation-further-thoughts {

  .scroll-content {
    overflow-y: hidden;
  }

  .listSection {
    max-height: 83%;
    overflow-y: scroll;
  }

  .manipBtn{
    text-transform: none; //ion-buttons without caps
    margin-top: -3%;
  }

}
