page-more-awards {

  .title {
    text-align: right;
    position: relative;
    vertical-align: bottom;
  }

  .popoverBtn{
    right: 20%;
}

  .awardRow{
    //height: 90px;
  }

  .awardCol{
    //width: 90px;
  }

  .awardBtn{
    width: 88px;
    height: 88px;
  }

  #moreToCome{
    text-align: center;
  }

}
