<!--><ion-header>
  <ion-navbar>
    <!-<ion-buttons end>
      <button ion-button (click)="closeModal()">Schliessen</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->

<ion-content padding>

  <div *ngIf="awardType=='Festgehalten' && isReceived==false">

    <div class="awardDiv">
      <ion-img [width]="96" [height]="96" src="assets/imgs/setDownWrittenAward.png"></ion-img>
      <br><span class="awardType">{{ awardType }}</span>
    </div>

    <ion-label style="font-size: 16px" text-wrap>
      Erstelle einen ersten Dokumentationseintrag (Angst/Freude, Ansicht/Überzeugung, Rückschlag/Erfolg, weitere
      Gedanken)
    </ion-label>

  </div>

  <div *ngIf="awardType=='Festgehalten' && isReceived==true">

    <div class="awardDiv">
      <ion-img [width]="96" [height]="96" src="assets/imgs/setDownWrittenAward.png"></ion-img>
      <br><span class="awardType">{{ awardType }}</span>
      <br>
      <br>
      <p id="congrats"><b>Glückwunsch :)</b></p>
    </div>

    <ion-label style="font-size: 16px" text-wrap>
      Du hast soeben deinen ersten Dokumentationseintrag erstellt! Dafür erhälst du die Auszeichnung
      "Festgehalten".
    </ion-label>

  </div>

  <div *ngIf="awardType=='Gedankenpower'">

    <div class="awardDiv">
      <ion-img [width]="96" [height]="96" src="assets/imgs/mentalPowerAward.png"></ion-img>
      <br><span class="awardType">{{ awardType }}</span>
    </div>

    <ion-label style="font-size: 16px" text-wrap>
      Erfasse eine deiner Ansichten/Überzeugungen
    </ion-label>

  </div>

  <div *ngIf="awardType=='Selbstreflekteur/in'">

    <div class="awardDiv">
      <ion-img [width]="96" [height]="96" src="assets/imgs/selfreflectorAward.png"></ion-img>
      <br><span class="awardType">{{ awardType }}</span>
      <br><span class="awardType">(Stufe 1)</span>
      <!--now hard coded for demo-->
    </div>

    <ion-label style="font-size: 16px" text-wrap>
      Dokumentiere Einträge (Ängste/Freuden, Ansichten/Überzeugungen, Rückschläge/Erfolge und/oder weitere
      Gedanken)<br>
      <br>
      <div class="awardDiv">
        1. Stern: 10 erfasste Einträge<br>
        2. Stern: 30 erfasste Einträge<br>
        3. Stern: 60 erfasste Einträge
      </div>
    </ion-label>
  </div>


  <div class="okayBtnDiv" *ngIf="!isReceived">
    <button ion-button [color]="primary" [outline]="false" [round]="true" (click)="closeModal()">
      OK
    </button>
  </div>

  <div class="okayBtnDiv" *ngIf="isReceived">
    <button ion-button [color]="primary" [outline]="false" [round]="true" (click)="closeModal()">
      Weiter geht's
    </button>
  </div>

</ion-content>
