page-modal-awards {


  /*ion-content{
    height: 100%;
  }*/

  .scroll-content {
    overflow-y: hidden; //site is not scrollable
  }

  .awardDiv{
    text-align: center;
  }

  .okayBtnDiv{
    text-align: center;
    //margin-top: 15px;
    margin-bottom: 0%;
  }



  }

