page-documentation-fears-delights {

  .title {
    text-align: right;
    position: relative;
    vertical-align: bottom;
  }

    .scroll-content {
      overflow-y: hidden;
    }

    ion-content{
      height: 100%; //works as wrapper
    }

    .manipBtn{
      text-transform: none; //ion-buttons without caps
      margin-top: -3%;
    }

    /*.manipBtnRow{
      height: 80%;
    }*/

}
