page-documentation-fears-delights {

    .scroll-content {
      overflow-y: hidden;
    }

    .topSection {
      max-height: 32%;
      overflow-y: scroll;
    }

    .manipBtn{
      text-transform: none; //ion-buttons without caps
    }

}