page-journal {

  ion-navbar.toolbar {
    //min-height: 56px !important;
    max-height: 56px !important;
}

  .title {
    text-align: right;
    position: relative;
    //height: 95px;
    vertical-align: bottom;
  }

    .scroll-content {
        overflow-y: hidden;
    }

    #journalItemLb{
        margin-left: -5%;
      }

}
