page-information-anorexia {

  .title {
    text-align: right;
    position: relative;
    vertical-align: bottom;
  }

    .scroll-content {
      overflow-y: hidden;
    }

    #popover{
      margin-top: -5%;
      margin-left: 82%;
      /*bottom: 18%;
      left: 84%;*/
    }

    #awmfDiv{
      margin-top: -4%;
      /*position: fixed;
      top: 16%;*/
    }

    #link{
      text-transform: none;
      font-size: 17px;
    }

    .awmfLinkBtn{
      width: 280px;
      height: 35px;
        .button-inner {
          justify-content: flex-start;
        }
      }

    .specialistDepartementLinkBtn{
      width: 280px;
      height: 50px;

    }


}
