page-adaptions {

  ion-navbar.toolbar {
    //min-height: 56px !important;
    max-height: 56px !important;
}

  .title {
    text-align: right;
    position: relative;
    height: 95px;
    vertical-align: bottom;
  }

  .popoverBtn{
    right: 20%;
}


  .topOptions{

  }

  .bottomOptions{
    margin-top: 5%;
  }

  #awardsItemLb{
    margin-top: -4%;
    margin-left: -5%;


  }

  #adaptionsItemLb{
    margin-top: -4%;
    margin-left: -5%;

  }

  #miscellaneousItemLb{
    margin-top: -4%;
    margin-left: -5%;
  }

}
