<ion-header>

  <ion-navbar color=primary hideBackButton="true">
    <ion-title class="title">
      Mehr
      <!--><title-logo text="Anpassungen"></title-logo>-->
    </ion-title>
    <ion-buttons end>
      <button ion-button class="popoverBtn" icon-only clear color="light" medium (click)="presentPopover($event)">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item id="awardsItemLb">
    <ion-label style="font-size: 17px">
      <!--item-left does not change anything-->
      <b>GradUp Auszeichnungen</b>
    </ion-label>
  </ion-item>

  <ion-list class="with-borders">
    <button ion-item (click)="gotoMoreAwardsPage()">
      <span class="highlight">Deine Auszeichnungen ansehen</span>
    </button>
  </ion-list>

  <div class="topOptions">
    <ion-item id="adaptionsItemLb">
      <ion-label style="font-size: 17px">
        <!--item-left does not change anything-->
        <b>Anpassungen/Einstellungen</b>
      </ion-label>
    </ion-item>

    <ion-list class="with-borders">
      <button ion-item (click)="gotoMoreProfileAdaptionsPage()">
        <span class="highlight">Profil anpassen</span>
      </button>

      <button ion-item (click)="gotoMoreContactsAdaptionsPage()">
        <span class="highlight">Kontakte erfassen/anpassen</span>
      </button>

      <button ion-item (click)="gotoProfileBiovotionPage()" *ngIf="!checkSensorConnection()">
        <span class="highlight">Biovotion Everion Sensor verbinden</span>
      </button>

      <button ion-item (click)="gotoProfileBiovotionPage()" *ngIf="checkSensorConnection()">
        <span class="highlight">Biovotion Everion Sensor trennen</span>
      </button>

      <button ion-item (click)="login()" *ngIf="!isLoggedIn()">
        <span class="highlight">MIDATA verbinden</span>
      </button>

      <button ion-item (click)="logout()" *ngIf="isLoggedIn()">
        <span class="highlight">MIDATA-Verbindung trennen</span>
      </button>
    </ion-list>

  </div>

  <div class="bottomOptions">
    <ion-item id="miscellaneousItemLb">
      <ion-label style="font-size: 17px">
        <!--item-left does not change anything-->
        <b>Sonstiges </b>
      </ion-label>
    </ion-item>

    <ion-list class="with-borders">
      <button ion-item (click)="gotoProfileImpressumPage()">
        <span class="highlight">Impressum</span>
      </button>

      <button ion-item (click)="gotoProfilePrivacyPage()">
        <span class="highlight">Datenschutzerklärung</span>
      </button>

      <button ion-item (click)="gotoProfileTermsPage()">
        <span class="highlight">Nutzungsbedingungen</span>
      </button>
    </ion-list>

  </div>

</ion-content>
