page-information-documentation {

  ion-navbar.toolbar {
    //min-height: 56px !important;
    max-height: 56px !important;
}


  .title {
    text-align: right;
    position: relative;
    height: 95px;
    vertical-align: bottom;
  }

    .scroll-content {
        overflow-y: hidden;
    }

    #infoDocuItemLb{
        margin-left: -5%;
      }

  .popoverBtn{
        right: 20%;
  }

}
