<ion-header>

  <ion-navbar color=primary hideBackButton="false">
    <ion-title class="title">
      Kontakte
    </ion-title>
    <ion-buttons end>
      <button ion-button class="popoverBtn" icon-only clear color="light" medium (click)="presentPopover($event)">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item no-lines class="contactPersonItemLb">
    <ion-label style="font-size: 18px">
      <!--item-left does not change anything-->
      <b>Bezugsperson </b>
    </ion-label>
  </ion-item>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label stacked>Name der Bezugsperson:</ion-label>
      <ion-input [(ngModel)]="bezugsperson_inputtext" formControlName="bezugsperson_inputtext"
        placeholder="Kein Name erfasst" type="text">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Telefonnummer:</ion-label>
      <ion-input [(ngModel)]="bezugsperson_telefonnummer" formControlName="bezugsperson_telefonnummer" type="tel"
        placeholder="Keine Telefonnummer erfasst">
      </ion-input>
    </ion-item>
    <p *ngIf="isSubmitted && !formGroup.controls.bezugsperson_telefonnummer.valid" class="error-message">Bitte
      korrekte Telefon Nummer eingeben.</p>

    <ion-item>
      <ion-label stacked>SMS-Text:</ion-label>
      <ion-textarea [(ngModel)]="bezugsperson_smstext" formControlName="bezugsperson_smstext" rows="1"
        placeholder="Kein SMS-Text erfasst">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>E-Mail-Adresse:</ion-label>
      <ion-input [(ngModel)]="bezugsperson_email" formControlName="bezugsperson_email" type="email"
        placeholder="Keine E-Mail-Adresse erfasst">
      </ion-input>
    </ion-item>
    <p *ngIf="isSubmitted && !formGroup.controls.bezugsperson_email.valid" class="error-message">Bitte korrekte
      E-Mail-Adresse eingeben.</p>

    <ion-item>
      <ion-label stacked>E-Mail-Text:</ion-label>
      <ion-textarea [(ngModel)]="bezugsperson_emailtext" formControlName="bezugsperson_emailtext" rows="1"
        placeholder="Kein E-Mail-Text erfasst">
      </ion-textarea>
    </ion-item>

    <ion-item no-lines class="contactPersonItemLb">
      <ion-label style="font-size: 18px">
        <!--item-left does not change anything-->
        <b>Fachperson </b>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked>Name der Fachperson:</ion-label>
      <ion-input [(ngModel)]="fachperson_inputtext" formControlName="fachperson_inputtext" type="text"
        placeholder="Kein Name erfasst">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Praxis-Telefonnummer:</ion-label>
      <ion-input [(ngModel)]="fachperson_telefonnummer" formControlName="fachperson_telefonnummer" type="tel"
        placeholder="Keine Telefonnummer erfasst">
      </ion-input>
    </ion-item>
    <p *ngIf="isSubmitted && !formGroup.controls.fachperson_telefonnummer.valid" class="error-message">Bitte
      korrekte Telefon Nummer eingeben.</p>

    <ion-item>
      <ion-label stacked>E-Mail-Adresse:</ion-label>
      <ion-input [(ngModel)]="fachperson_email" formControlName="fachperson_email" type="email"
        placeholder="Keine E-Mail-Adresse erfasst">
      </ion-input>
    </ion-item>
    <p *ngIf="isSubmitted && !formGroup.controls.fachperson_email.valid" class="error-message">Bitte korrekte
      E-Mail-Adresse eingeben.</p>

    <ion-item>
      <ion-label stacked>E-Mail-Text:</ion-label>
      <ion-textarea [(ngModel)]="fachperson_emailtext" formControlName="fachperson_emailtext" rows="1"
        placeholder="Kein E-Mail-Text erfasst">
      </ion-textarea>
    </ion-item>

  </form>

</ion-content>

<ion-footer no-shadow>
  <ion-toolbar no shadow position="bottom">
    <button ion-button [color]="primary" [outline]="false" [round]="true" (click)="saveData()">
      Speichern
    </button>
  </ion-toolbar>
</ion-footer>
