page-state-of-mind {

  .title {
    text-align: right;
    position: relative;
    vertical-align: bottom;
  }

  #mood{
    text-align: center
  }

  #characterCount{
    margin-top: 1%;
    margin-left: 19%;
  }

  .smileyBtn{
    width: 64px;
    height: 64px;
}

  .smileyBtn:focus { /*show selected button*/
    border: 2px solid #000000;
  }

  #reasonLb{
    font-size: 15px;
}

#reason{
    width: 65%;
    right: 21%;
    bottom: 10%;
}

.alert-button-inner { //funktioniert nicht
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*.alert-button { //funktioniert nicht
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}*/

}
