page-documentation-setback-success {

  .title {
    text-align: right;
    position: relative;
    vertical-align: bottom;
  }

  ion-content{
    height: 100%; //works as wrapper
  }

  .scroll-content {
    overflow-y: hidden;
  }

  .manipBtn{
    text-transform: none; //ion-buttons without caps
    margin-top: -3%;
  }

  /*.manipBtnRow{
    height: 80%;
  }*/

}
