page-modal-goals {

  .entryDiv{
    text-align: center;
  }

  ion-checkbox .item-cover{ //only checkbox becomes clickable
    display:none;
  }

  ion-checkbox .ion-checkbox-icon{
    width: 1px;
  }

  #inputField{
    margin-left: -3%;
  }

  #checkboxRepetitiveLb{
    margin-left: -3%;
  }


}
