page-modal-goals {

  .entryDiv{
    text-align: center;
    margin-top: 2%;
  }

  .scroll-content {
    overflow-y: hidden; //site is not scrollable
  }

  ion-checkbox .item-cover{ //only checkbox becomes clickable
    display:none;
  }

  ion-checkbox .ion-checkbox-icon{
    width: 1px;
  }

  #inputField{
    margin-left: 0%;
  }

  #checkboxRepetitiveLb{
    margin-left: 0%;
  }


}
